<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


<!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/ibare"><i class="fas fa-angle-double-left"></i> Tüm İbareler</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Yeni İbare</h2>
            <span class="text-light">Formu kullanarak yeni ibare oluşturun</span>
        </div>

        <!-- add user form -->
        <%- include('include/_formIbare') %>
       
	   
          <!-- EKLE BUTONU -->
		<div>
		<a id="kelimeSoruEkle">
            <span class="text-gradient"><i class="fas fa-plus">Kelime Soru Ekle</i></span>
        </a>
		
		<!-- EKLE BUTONU -->
		
		
		<a id="terkipSoruEkle">
            <span class="text-gradient"><i class="fas fa-plus">Terkip Soru Ekle</i></span>
        </a>
    </div>

		
</div>
	
	
</main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
