 <!-- form handling -->
 <form action="/api/malumat" method="POST" id="add_malumat">
    <div class="new_user">
	
      
        <div class="form-group">
            <label for="malumatSual" class="text-light">Malumat Soru:</label>
            <input type="text" name="malumatSual" value="" placeholder="Örn: İğrap kaç kısımdır?">
        </div>
		
		
		<div class="form-group" id="kitapAdiDiv">
            <label for="kitapAdi" class="text-light">Kitap:</label>
            <input type="text" name="kitapAdi" value="" placeholder="Örn: Avamil">
        </div>
        
		<div class="form-group">
            <label for="kategori" class="text-light">Kategori:</label>
            <input type="text" name="kategori" value="" placeholder="Örn: Mamül Bahsi">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Kaydet</button>
        </div>

    </div>
</form>