 <!-- form handling -->
 <form action="/api/ibare" method="POST" id="add_ibare">
    <div class="new_user">
	
        <div class="form-group">
            <label for="sayfa" class="text-light">Sayfa</label>
            <input type="hidden" name="id" value="">
            <input type="Number" name="sayfa" value="" placeholder="Örn: 35">
        </div>
		
        <div class="form-group">
            <label for="ibareMetni" class="text-light">İbare:</label>
            <input type="text" name="ibareMetni" value="" placeholder="Örn: اَلْحَمْدُ لِلّٰهِ رَبِّ الْعَالَم۪ينَ">
        </div>
		

		<div class="form-group" id="terkipSoruDiv">
            <label for="terkipSoru" class="text-light">Terkip Sorusu:</label>
			<a id="terkipSoruKaldir" class="tersorkal">
            <span class="text-gradient"><i class="fas fa-minus"></i></span>
        </a>
            <input type="text" name="terkipSoru" value="" placeholder="Örn: اَلْحَمْدُ terkipte ne düşer?">
			
		</div>
		
		
		
		<div class="form-group" id="kelimeSoruDiv">
            <label for="kelimeSoru" class="text-light">Kelime Sorusu:</label>
			<a id="kelimeSoruKaldir" class="kelsorkal">
            <span class="text-gradient"><i class="fas fa-minus"></i></span>
        </a>
            <input type="text" name="kelimeSoru" value="" placeholder="Örn: اَلْحَمْدُ ne kelime olur?">
			 
		</div>
		
		
		
		
		<div class="form-group" id="kitapAdiDiv">
            <label for="kitapAdi" class="text-light">Kitap:</label>
            <input type="text" name="kitapAdi" value="" placeholder="Örn: Avamil">
        </div>
        

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Kaydet</button>
        </div>

    </div>
</form>